hr {
    width: 95%;
}

h1 {
    text-align: center;
}

main > div {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
}

img {
    max-width: 100%;
}

.kommentarschreiben {
    width: 100%;
    text-align: center;
    padding: 5px;
}

.bewertungssystem {
    width: 100%;
}

input {
    width: 100%;
}

.btn_post {
    width: 100%;
    color: #fff;
    background: #808080;
    border: 2px solid black;
    border-radius: 4px;
    transition: all .2s ease;
    outline: none;
    font-weight: 700;
}

.btn_post:hover {
    background: #606060;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.btn_post:active {
    border: 0;
    transition: all .2s ease;
}

.txt_eingabe {
    margin: 5px;
    box-sizing: border-box;
    padding: 5px;
}

caption {
    margin-bottom: 10px;
    font-size: 25px;
}
