hr {
    width: 95%;
}

body > div {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
}

.tabelle1 > td {
    width: 20%;
}

img {
    max-width: 100%;
}

.kommentarschreiben {
    width: 100%;
    text-align: center;
    padding: 5px;
}

input {
    width: 100%;
}

button {
    width: 100%;
}