hr {
    width: 95%;
}

h1 {
    text-align: center;
}

main > div {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
}

img {
    max-width: 100%;
}

.kommentarschreiben {
    width: 100%;
    text-align: center;
    padding: 5px;
}

.bewertungssystem {
    width: 100%;
}

input {
    width: 100%;
}

button {
    width: 100%;
}

caption {
    margin-bottom: 10px;
    font-size: 25px;
}
