html{
    
}
body{
}
main{
    margin-top: 10px;
    margin-right: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

main .bilder{
    align-items: center;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
   
}
main > legend{
    font-weight: bold;
    font-size: 16px;
}
fieldset{
    border: 3px solid black;
    width: auto;
    display: inline-block;
    margin: 15px;
}