
header {
    background-color: #20272a;
    width: 100%;
    height: 70px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    top: 0;
    left: 0;
    color: white;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    
}

header img{
    width: 70px;
    height: 70px;
    float: left;
}

main img{
    height: 200px;
    width: 200px;
}

header ul{
    margin: 0 60px 0 0;
    float: right;
}

header > ul > li {
    display: inline-block;
    height: 100%;
}

header > ul > li > a {
    text-decoration: none;
    color: #fff;
    transition: background-color .2s;
    min-width: 120px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    line-height: 70px;
    font-size: 16px;
}

nav {
    margin: 0 60px 0 0;
    float: right;
    line-height: 70px;
}

footer {
    border: 2px solid seagreen;
}

main {
    margin-top: 20px;
    border: 2px solid hotpink;
}

article {
    border: 2px solid purple;
}

section {
    border: 2px solid slateblue;
}

aside {
    border: 2px solid tomato;
}

body > h2{
    font-size: 10px;
}

.suchleiste{
    float: right;
    padding: 3px 20px 0 0;
}

.suchleiste-input{
    width: 200px;
    height: 40px;
    border-color: #888;
    border-radius: 15px; /*height/2 + borderwidth*/
    border-style: solid;
    border-width: 4px;
    margin-top: 5px;
    color: #333;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
}