
header {
    background-color: #20272a;
    width: 100%;
    height: 70px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    top: 0;
    left: 0;
}

header img{
    margin-left: 45px;
    margin-top: 15px;
    display: inline-block;
}

main img{
    height: 200px;
    width: 200px;
}

header ul{
    margin: 0 60px 0 0;
    float: right;
}

header > ul > li {
    display: inline-block;
    height: 100%;
}

header > ul > li > a {
    text-decoration: none;
    color: #fff;
    transition: background-color .2s;
    min-width: 120px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    line-height: 70px;
    font-size: 16px;
}

nav {
    margin: 0 60px 0 0;
    float: right;
    line-height: 70px;
}

input[type=text]{
    border: none;
    font-size: 16px;
}

footer {
    border: 2px solid seagreen;
}

main {
    margin-top: 20px;
    border: 2px solid hotpink;
}

article {
    border: 2px solid purple;
}

section {
    border: 2px solid slateblue;
}

aside {
    border: 2px solid tomato;
}