html{
    background-color: #007ced;
    background: linear-gradient(#007ced 1%, #cce7ff 100%);
    width: 100%;
    height: 100%;
        
}
body{
    
}
header {
    background-color: #20272a;
    width: 100%;
    height: 70px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    top: 0;
    left: 0;
    color: white;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    
}

header img{
    width: 70px;
    height: 70px;
    float: left;
}

nav {
    margin: 0 60px 0 0;
    float: right;
    line-height: 70px;
}

footer {
   
}

main {
    margin-top: 20px;
    border: 2px solid hotpink;
}

.suchleiste{
    float: right;
    padding: 3px 10px 0 0;
}

.suchleiste-input{
    width: 200px;
    height: 40px;
    border-color: #888;
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;
    margin-top: 5px;
    color: #333;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
}