<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/picturerate</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>UploadInput</servlet-name>
        <servlet-class>de.dhbw.karlsruhe.picturerate.UploadServlet</servlet-class>
        <jsp-file>/upload.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>UploadInput</servlet-name>
        <url-pattern>/uploadinput</url-pattern>
    </servlet-mapping>
    
    <!-- Detail Seiten Aufruf mit ID übergeben -->
    <servlet>
        <servlet-name>DetailAufruf</servlet-name>
        <servlet-class>de.dhbw.karlsruhe.picturerate.DetailSideCall</servlet-class>
        <jsp-file>/detail.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DetailAufruf</servlet-name>
        <url-pattern>/detailaufruf</url-pattern>
    </servlet-mapping>
    
</web-app>
